#textdomain wesnoth-The_Aragwaithi
[textdomain]
    name="wesnoth-The_Aragwaithi"
    path="data/add-ons/The_Aragwaithi/translations"
[/textdomain]

# If you want to use this faction in an add-on, add {~add-ons/The_Aragwaithi/aragwaithi.cfg} in your campaign define.

#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/The_Aragwaithi
[/binary_path]
{~add-ons/The_Aragwaithi/utils.cfg}
[+units]
    {~add-ons/The_Aragwaithi/race.cfg}
    {~add-ons/The_Aragwaithi/units}
[/units]
[era]
    id=TA
    name= _ "Default + Aragwaithi"
    require_era=yes

    {RANDOM_SIDE}
    {~add-ons/The_Aragwaithi/faction.cfg}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]
[era]
    id=TA_AOH
    name= _ "Heroes + Aragwaithi"
    require_era=yes

    {RANDOM_SIDE}
    {~add-ons/The_Aragwaithi/faction-aoh.cfg}
    {multiplayer/factions/loyalists-aoh.cfg}
    {multiplayer/factions/rebels-aoh.cfg}
    {multiplayer/factions/northerners-aoh.cfg}
    {multiplayer/factions/undead-aoh.cfg}
    {multiplayer/factions/knalgans-aoh.cfg}
    {multiplayer/factions/drakes-aoh.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]
#endif
